body {
    background-color: #E5E5E5;
    margin: 0;
}

.main__flex {
    height: 100vh; 
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 1152px;
    height: 700px;
    background: #FAA307;
    padding: 25px 0;
    display: flex;
    flex-direction: row;
}

.card {
    margin: 20px;
    width: 273px;
    height: 220px;
    display: flex;
}

.first_block {
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #03071E;
    position: absolute; 
    left: 146px;
    top: 120px;
    flex-flow: row wrap;
}

.second_block {
    background-color: #6A040F;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    left: 439px;
    top: 120px;
    flex-wrap: wrap-reverse;
}

.third_block {
    background-color: #03071E;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 732px;
    top: 120px;
    flex-wrap: wrap;
}

.fourth_block {
    background-color: #6A040F;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    left: 146px;
    top: 360px;
    flex-wrap: wrap;
}

.fifth_block {
    background-color: #03071E;
    align-items: center;
    justify-content:center;
    position: absolute;
    left: 439px;
    top: 360px;
    flex-wrap: wrap;
}

.cir_container {
    background-color: #03071E;
    margin: 10px;
    display: flex;
 }

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #748CAB;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
